.toggle-button {
  background-color: rgb(230,230,230);
  border: none;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

.is-toggled {
  background-color: black;
  color: white;
}