body {
 background-color: rgb(25, 25, 25);
 color: white;
 font-family: Arial;
}

p {
  display: block;
}

.header {
 font-size: 30px;
 font-weight: 600;
}

.move-button {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border: 3px solid white;
  background-color:rgb(25, 25, 25);
  border-radius: 60px;
  margin-right: 10px; 
}

.move-icon {
  height: 50px;
  cursor: pointer;
}

.result {
 font-size: 25px;
 font-weight: 600;
 margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-score-button {
  font-size: 15px;
  border: none;
  padding:8px 15px;
  cursor: pointer;
}